<div class="cell-busy__description">
  <div class="description-wrapper">
    <div class="description-button_edit"></div>
    <h3 class="description-title">Рассуждение о высоком</h3>
    <p class="description-text">
      <span class="description-text_date">14 декабря</span>
      <span class="description-text_time">
                          <span class="time-start">15:00</span> &mdash; <span class="time-end">17:00</span>
                        </span>
      <span class="description-text_name-room">Желтый дом</span>
    </p>
    <div class="description-users">
      <div class="user-logo">
        <img src="https://avatars0.githubusercontent.com/u/13864001?s=460&v=4" alt="Pavel">
      </div>
      <div class="user-name">Pavel Usov</div>
      <div class="user-other">и <span class="user-other_count">12</span> участников</div>
    </div>
  </div>
</div>
