@import "variables";
* {
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: @fontSizeDesktop;
    height: 100%;
    @media @mobile {
        font-size: @fontSizeMobile;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapperPage {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    @media @mobile {
        width: 100%;
    }
}

@import "buttons";
