<!DOCTYPE html>
<html lang="ru" ng-app="roomsApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>Title</title>
  <link rel="stylesheet" href="assets/fonts/icomoon/style.css">
</head>
<body ng-controller="BasePageCtrl">
<div class="wrapperPage">
  <header class="header" ng-controller="HeaderCtrl">
    <div class="header__logo"></div>
    <div class="header__button">
      <button class="button button_blue button__popup-new-meeting"
              ng-click="createMeeting()"
              ng-show="checkShowButtonMeeting()">Создать встречу</button>
    </div>
  </header>
  <main class="main">
    <div class="timetable-wrapper" ng-controller="timetableCtrl">
      <table class="timetable" cellspacing="0">
        <thead class="timetable__header">
        <tr>
          <th class="left-column">
            <div class="timetable__calendar">
              <div class="leftButtonCalendar"></div>
              <div class="rightButtonCalendar"></div>
              <input type="text" class="timetable__calendar-datepicker">
            </div>
          </th>
          <th class=""></th>
          <th class="header-hour header-hour_past">8:00</th>
          <th class="header-hour header-hour_past">9</th>
          <th class="header-hour header-hour_past">10</th>
          <th class="header-hour header-hour_past">11</th>
          <th class="header-hour header-hour_past">12</th>
          <th class="header-hour">13</th>
          <th class="header-hour">14</th>
          <th class="header-hour">15</th>
          <th class="header-hour">16</th>
          <th class="header-hour">17</th>
          <th class="header-hour">18</th>
          <th class="header-hour">19</th>
          <th class="header-hour">20</th>
          <th class="header-hour">21</th>
          <th class="header-hour">22</th>
          <th class="header-hour">23</th>
        </tr>
        </thead>

        <tbody class="timetable__body">

        <tr class="table-floor-wrapper mobile-hidden">
          <td class="table-floor-wrapper_data" colspan="18">
            <table class="table-floor">
              <tr class="row-fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="table-floor-wrapper floor-selectable">
          <td class="table-floor-wrapper_data" colspan="18">
            <table class="table-floor">
              <tr class="row-floor row-fill">
                <td class="number-floor"> 7 этаж</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="table-floor-wrapper floor-selectable">
          <td class="table-floor-wrapper_data" colspan="18">
            <table class="table-floor">
              <tr class="row-floor row-fill">
                <td class="number-floor"> 7 этаж</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
        </td>
        </tr>

        <tr class="table-floor-wrapper floor-selectable">
          <td class="table-floor-wrapper_data" colspan="18">
            <table class="table-floor">
              <tr class="row-floor row-fill">
                <td class="number-floor"> 6 этаж</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room room-busy row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class="row-room row-fill">
                <td class="name-room">Ржавый Фред</td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-free" create-meeting ng-click="createMeeting()"></td>
                <td class="cell-busy"></td>
              </tr>
              <tr class="row-description row-fill">
                <td class="description-room">3-6 человек</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
        </td>
        </tr>

        <tr class="table-floor-wrapper mobile-hidden">
          <td class="table-floor-wrapper_data" colspan="18">
            <table class="table-floor">
              <tr class="row-fill">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>

        </tbody>
      </table>
    </div>

  </main>
  <div class="popup__new-meeting white"
       ng-controller="PopupNewMeetingCtrl"
       ng-class="{'toggle-visible-popup': isVisiblePopup}">
    <div class="popup__new-meeting_wrapper">
      <div class="popup__button-close" ng-click="hidePopup()"></div>
      <h2 class="popup-title">Новая встреча</h2>
      <div class="popup__blocks-wrapper">
        <div class="popup__block">
          <div class="inputWrapper">
            <label for="theme">Тема</label>
            <input type="text" id="theme" placeholder="О чём будете говорить?">
          </div>
        </div>
        <div class="popup__block popup__block-date">
          <div class="inputWrapper inputWrapper_date">
            <label for="date">Дата</label>
            <input type="text" id="date" datepicker data-set-date="getDate">
          </div>
          <div class="inputWrapper inputWrapper_time time-dash">
            <label for="timeStart">Начало</label>
            <input type="text" id="timeStart" class="inputWrapper__timeStart">
          </div>
          <div class="inputWrapper inputWrapper_time">
            <label for="timeEnd">Конец</label>
            <input type="text" id="timeEnd" class="inputWrapper__timeEnd">
          </div>
        </div>
      </div>
      <div class="popup__blocks-wrapper">
        <div class="popup__block popup__participant">
          <div class="inputWrapper">
            <label for="participants">Участники</label>
            <input id="participants"
                   class="participant-input"
                   ng-model="participantSearch"
                   ng-focus="showListParticipants()"
                   ng-blur="hideListParticipants()">
            </input>
          </div>
          <div class="select-participants" ng-show="isShowListParticipants">
            <div class="participant"
                 ng-repeat="participant in participantsMeeting | filter: participantSearch"
                 ng-click="addParticipant(participant, $index)">
              <div class="participant-logo">
                <img ng-src="{{ participant.image.path }}" alt="{{ participant.image.alt }}">
              </div>
              <div class="participant-name" ng-bind="participant.name"></div>
            </div>
          </div>
          <div class="added-list-participants">
            <div class="added-item-participant" ng-repeat="participant in participantsMeetingAdded">
              <div class="participant-logo">
                <img ng-src="{{ participant.image.path }}" alt="{{ participant.image.alt }}">
              </div>
              <div class="participant-name">{{ participant.name }} <span class="participant-close" ng-click="removeParticipant($index)"></span></div>
            </div>
          </div>
        </div>
        <div class="popup__block">
          <recomended-rooms></recomended-rooms>
        </div>
      </div>
    </div>
    <div class="popup__footer">
      <button class="button button_gray" ng-click="hidePopup()">Отмена</button>
      <button class="button button_gray" ng-click="saveMeeting()">Сохранить</button>
    </div>
  </div>
</div>
</body>
</html>
